h1 {
  font-size: 3rem;
}

p {
  font-size: 1.4rem;
}

.header {
  align-items: center;
  background-image: url('../../../assets/img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fafafa;
  display: flex;
  height: 30vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}