<div *ngIf="!news.length">
  <h2 class="txt-center">It seems you have no news available D:</h2>
  <p class="txt-center">try later :)</p>
</div>
<div *ngFor="let new of news">
  <app-news-card [new]="new"
                 (newDeletedEvent)="deleteNews($event)">
  </app-news-card>
</div>
