<div class="card-content">
  <div class="card-main d-i-block">
    <a (click)="browse(new.url)" target="_blank" rel="noopener noreferrer">
      <h3 class="my-1-5 ml-1 d-i-block m-70">{{new.title}} <span class="author">- {{new.author}} -
      </span>
      <i *ngIf="!new.url"><img src="../../../../assets/img/wifi-off.svg"
         tooltip="this news has no url" placement="top"></i>
      </h3>
    </a>
    <h3 class="my-1-5 f-right w-20">
      {{new.new_date}}
      <i (click)="delete(new._id)" class="ml-1">
        <img src="../../../../assets/img/trash-alt-solid.svg" alt="delete">
      </i>
    </h3>
  </div>
</div>