img {
  opacity: 0.8;
  padding: 2px;
  width: 14px;
}

img:hover{
  opacity: 1;
  padding: 0;
  width: 17px;
}

a {
  color: #333 !important;
}

.card-content {
  border-bottom: 1px solid #ccc;
}

.card-content:hover {
  cursor: pointer;
  background: #fafafa !important;
}

.card-main{
  color: #333 !important;
  font-size: 13px;
  width: 100%;
}

.author {
  color: #999;
}
