body {
  margin: 0;
  padding: 0;
}

/* Layout helpers */

  /* 1 - margin and pading*/
  .m-0 {
    margin: 0;
  }
  .mt-0 {
    margin-top: 0;
  }
  .mr-0 {
    margin-right: 0;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  .ml-0 {
    margin-left: 0;
  }
  .m-1 {
    margin: 1rem;
  }
  .ml-1 {
    margin-left: 1rem;
  }
  .my-1-5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .p-0 {
    padding: 0;
  }
  .pt-0 {
    padding-top: 0;
  }
  .pr-0 {
    padding-right: 0;
  }
  .pb-0 {
    padding-bottom: 0;
  }
  .pl-0 {
    padding-left: 0;
  }
  .p-1 {
    padding: 1rem;
  }
  .pr-8 {
    padding-right: 8rem;
  }
  .pl-2 {
    padding-left: 2rem;
  }
  .px-1 {
    padding-left: 1rem;;
    padding-right: 1rem;
  }
  .px-2 {
    padding-left: 2rem;;
    padding-right: 2rem;
  }

  /* 2 - position */
  .d-i-block {
    display: inline-block;
  }

  .p-absolute {
    position: absolute;
  }

  .f-right {
    float: right;
  }

  .txt-center {
    text-align: center;
  }
  /* 3 - tamaño */
  .w-20 {
    width: 20%;
  }
  .m-70 {
    width: 70%;
  }
